<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event_category.title %>
</p>

<p>
  <b>Description:</b>
  <div class="well"><%= @event_category.description.html_safe %></div>
</p>

<p>
  <b>Active:</b>
  <%= @event_category.active %>
</p>


<%= link_to 'Edit', edit_event_category_path(@event_category) %> |
<%= link_to 'Home', "/backend/index" %>
