<h2>Sign up</h2>
<% college_list = College.all.map{|p| [p.name, p.id] } %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div><%= f.label :full_name %><br />
  <%= f.text_field :full_name, :autofocus => true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :phone %><br />
  <%= f.text_field :phone %></div>

  <div><%= f.label :college %><br />
  <%= select_tag "user[college_id]", options_for_select(college_list) %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
<script src="/assets/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#user__college_id_').change(function() {
      if( $('#user__college_id_').val() === "" ) {
        $("#user__new_college_").show();
      }else {
        $("#user__new_college_").hide();
      }
    });
  });
</script>