<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if @event %>
  <title><%= @event.title %>- Vista '15</title>
  <% else %>
  <title>VISTA '15 - Get Indi-Genius</title>
  <% end %>
  <meta name="description" content="The Annual International Business Summit at IIM Bangalore" />
  <meta name="keywords" content="iimb-vista, vista2015, vista15, iimb-vista, vista, iimb-fii, web vista'15" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" style="background-color:white;">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="padding-top: 2px; padding-bottom: 2px;">
          <img src="/assets/img/Vista_Logo.png" style="max-height:100%;" />
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a class="btn" href="#">Shop @ Vista</a></li> -->
          <% if user_signed_in? %>
          <li><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="container-fluid filter  full-background">
          <div class="row-fluid">
            <div class="col-md-6">
	            <div style="padding-left:10px;padding-right:10px;margin-left:10px;" >
	            	<h2>
	            	<center><p style="font-size:28px">Accomodation</p></center>
	            	</h2>
	            	<ol>
<li style="font-size:14px;line-height:16px;">Accommodation will be provided starting 24th September, 2015 at 6 PM (in time for the inauguration ceremony) till 27th September</li>
<li style="font-size:14px;line-height:16px;">Participants can avail of the facilities for the full duration from 24th to 27th night or any number of intervening days, subject to availability</li>
<li style="font-size:14px;line-height:16px;">Owing to limited availability of accommodation on campus, allotment will be done at the discretion of IIM Bangalore and Team Vista 2015 on first-come, first-serve basis.</li>
<li style="font-size:14px;line-height:16px;">Accommodation facilities will be provided on campus for participants in the form of Shared Dormitory. Mattresses and pillows will be provided for the same. Separate facilities will be provided for men and women.</li>
<li style="font-size:14px;line-height:16px;">Meals will not be provided along with the accommodation and the participant will have to make their own arrangements for the same. The participant can visit the stalls which will be setup on the campus for the duration of Vista for the same.</li>
<li style="font-size:14px;line-height:16px;">All participants who will be availing the accommodation facilities will have to abide by the rules and regulation of IIM Bangalore and Team Vista. Any instances of misbehaviour or violation of the rules will lead to termination of the services immediately.</li>
<li style="font-size:14px;line-height:16px;">Participants will have to carry valid photo ID and (once the registration process has been completed) their Vista registration ID with them at all times while on campus.</li>
<li style="font-size:14px;line-height:16px;">Accommodation fees will not be refunded under any circumstances.</li>
                </ol>
	            </div>
            </div>
            <div class="col-md-6">
	            <div style="padding-left:10px;padding-right:10px;margin-left:10px;">
	            	<h2>
	            	<center><p style="font-size:28px">Travel</p></center>
	            	</h2>
	            	<ol>
<li style="font-size:14px;line-height:16px;">Travel reimbursement will be provided to the finalists of Flagship events.</li>
<li style="font-size:14px;line-height:16px;">Teams  from cities other than Bangalore, who have been shortlisted to participate in the final rounds of Flagship events during Vista 2015, can avail of travel reimbursement.</li>
<li style="font-size:14px;line-height:16px;">The reimbursement amount will be a maximum of INR 2000 per head or the cost of travel for a 3rd class AC ticket(whichever is lesser)</li>
<li style="font-size:14px;line-height:16px;">Participants will need to produce travel tickets and valid photo for every team member while availing travel reimbursement. Reimbursement will not be provided if the same are not produced.</li>
<li style="font-size:14px;line-height:16px;">Participants are also advised to carry photocopies of the documents mentioned above to submit while availing of travel reimbursement.</li>
<li style="font-size:14px;line-height:16px;">Participants can choose to make their own arrangements for accommodation or can choose to avail accommodation on campus. In case of the latter, they are requested to inform their respective event POCs in advance regarding the same, specifying day, date and time of arrival on campus.</li>
<li style="font-size:14px;line-height:16px;">In case of doubt regarding whether travel reimbursement will be provided for the event you are participating in, kindly reach out to the respective event POCs.</li>
<li style="font-size:14px;line-height:16px;">Travel reimbursement will not be provided to participants of YLS or MUN.</li>
                </ol>
	            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
