<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>VISTA '15 - Get Indi-Genius</title>
		<meta name="description" content="The Annual International Business Summit at IIM Bangalore" />
		<meta name="keywords" content="iimb-vista, vista2015, vista15, iimb-vista, vista, iimb-fii, web vista'15" />
		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>

		<!-- Bootstrap -->
		<script src="assets/modernizr.custom.js"></script>
		<link href="assets/bootstrap.min.css" rel="stylesheet">
		<link href="assets/jquery.fancybox.css" rel="stylesheet">
		<link href="assets/flickity.css" rel="stylesheet" >
		<link href="assets/animate.css" rel="stylesheet">
		<!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
		<!-- <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'> -->
		<link href="assets/styles.css" rel="stylesheet">
		<link href="assets/queries.css" rel="stylesheet">
		<!-- Facebook and Twitter integration -->
		<meta property="og:title" content=""/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:site_name" content=""/>
		<meta property="og:description" content=""/>
		<meta name="twitter:title" content="" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:url" content="" />
		<meta name="twitter:card" content="" />
		<script type="text/javascript" src="assets/jquery-1.7.1.min.js"></script>   
		<script type="text/javascript" src="assets/jquery.slides.js"></script>   

		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

		<script type="text/javascript" src="assets/jquery.simpleslider.js"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<!-- open/close -->
		<%= render :partial => "hero" %> 
		<%= render :partial => "about" %>
		<!-- full slider for speaker series -->
		<%= render :partial => "sometext" %>
		<%= render :partial => "screenshots" %>
		<%= render :partial => "highlights" %>
		<%= render :partial => "small_slider" %>
		<%= render :partial => "showcase" %>
		<%= render :partial => "sponsors" %>
		
		<%= render :partial => "register_today" %>
		<%= render :partial => "home_footer" %>
		<div class="overlay overlay-boxify">
			<nav>
				<ul>
					<% if user_signed_in? %>
						<li><a rel="nofollow" data-method="delete" href="/users/sign_out"><i class="fa  fa-user-secret"></i>Sign Out</a></li>
					<% else %>
						<li><a href="/users/sign_in"><i class="fa fa-user"></i>Login</a></li>
					<% end %>
					<li><a href="#hero"><i class="fa fa-inr"></i>Get Indi-Genius</a></li>
				</ul>
				<ul>
					<li><a href="/home/acco_n_travel"><i class="fa fa-bus"></i>Hospitality</a></li>
					<li><a href="/myevents/home"><i class="fa fa-puzzle-piece"></i>All Events</a></li>
				</ul>
				<ul>
					<li><a href="#screenshots-intro"><i class="fa fa-tasks"></i>Top Events</a></li>
					<li><a href="#highlights"><i class="fa fa-trophy"></i>Rewards</a></li>
				</ul>
				<ul>
					<li><a href="#features-intro"><i class="fa fa-graduation-cap"></i>About Us</a></li>
					<li><a href="#showcase"><i class="fa fa-download"></i>Download</a></li>
				</ul>
				<ul>
					<li><a href="#sponsors-intro"><i class="fa fa-university"></i>Sponsors</a></li>
				</ul>
			</nav>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="assets/min/toucheffects-min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="assets/flickity.pkgd.min.js"></script>
		<script src="assets/jquery.fancybox.pack.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="assets/retina.js"></script>
		<script src="assets/waypoints.min.js"></script>
		<script src="assets/bootstrap.min.js"></script>
		<script src="assets/min/scripts-min.js"></script>
		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
		(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src='//www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		ga('create','UA-XXXXX-X');ga('send','pageview');
		$(document).ready(function(){
    $(".slider").simpleSlider();
});
		</script>
	</body>
</html>