<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_category_id %><br />
    <%= select_tag "event[event_category_id]", options_from_collection_for_select(@event_cats, 'id', 'title',@event.event_category_id) %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :online_registration %><br />
    <%= f.check_box :online_registration %>
  </div>
  <div class="field">
    <%= f.label :min_per_team %><br />
    <%= f.number_field :min_per_team %>
  </div>
  <div class="field">
    <%= f.label :max_per_team %><br />
    <%= f.number_field :max_per_team %>
  </div>
  <div class="field">
    <%= f.label :registration_fee %><br />
    <%= f.text_field :registration_fee %>
  </div>
  <div class="field">
    <%= f.label :permitted_registrations %><br />
    <%= f.text_field :permitted_registrations %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br />
    <%= f.date_select :deadline %>
  </div>
  <div class="field">
    <%= f.label :flagship %><br />
    <%= f.check_box :flagship %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
