<p id="notice"><%= notice %></p>

<p>
  <b>Event category:</b>
  <%= @event.event_category_id %>
</p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <div class="well"><%= @event.description.html_safe %></div>
</p>

<p>
  <b>Online registration:</b>
  <%= @event.online_registration %>
</p>

<p>
  <b>Active:</b>
  <%= @event.active %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Home', "/backend/index" %>
