<p id="notice"><%= notice %></p>

<p>
  <b>Sku:</b>
  <%= @item.sku %>
</p>

<p>
  <b>Product:</b>
  <%= @item.product_id %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Item desc:</b>
  <%= @item.item_desc %>
</p>

<p>
  <b>Available:</b>
  <%= @item.available %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
