<%= form_tag('/registrations/register') do %>
<%= hidden_field_tag "event_id", @event.id %>
<% if @event.id==51 %>
<label for="team_name" class="control-label">User Name for Labyrinth</label>
<% else %>
<label for="team_name" class="control-label">Team Name</label>
<% end %>
<input type="text" class="form-control" name="team_name" id="team_name"/>
<% @event.max_per_team.times do |i| %>
<% if i==0 %>
<div class="form-group form-inline row">
	<div class="col-md-6">
		<label for="register[0][email]" class="control-label">Email</label><br/>
		<input type="email" class="form-control" readonly="readonly" name="register[0][email]" id="register[0][email]" <%= "value='#{current_user.email}'" %> />
	</div>
	<div class="col-md-6">
		<label for="register[0][phone]" class="control-label">Phone</label><br/>
		<input type="text" class="form-control" readonly="readonly" name="register[0][phone]" id="register[0][phone]" <%= "value='#{current_user.phone}'" %> />
	</div>
</div>
<% else %>
<div class="form-group form-inline row">
	<div <%= i<@event.min_per_team ? "class='col-md-6 required'" : "class='col-md-6'" %>>
		<label <%= "for='register[#{i}][email]'" %> class="control-label">Email</label><br/>
		<input type="email" class="form-control" <%= "name='register[#{i}][email]'" %> <%= "id='register[#{i}][email]'" %> placeholder="Team member's email id">
	</div>
	<div <%= i<@event.min_per_team ? "class='col-md-6 required'" : "class='col-md-6'" %>>
		<label <%= "for='register[#{i}][phone]'" %> class="control-label">Phone</label><br/>
		<input type="text" class="form-control" <%= "name='register[#{i}][phone]'" %> <%= "id='register[#{i}][phone]'" %> placeholder="Team member's phone number">
	</div>
</div>
<% end %>
<% end %>
<%= submit_tag "Register", :class=>"btn btn-warning" %>
<% end %>