<div class="container-fluid filter">
	<div class="row-fluid">
		<div class="col-md-9 col-xs-12 col-sm-12 well">
			<ol class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li><a href="/myevents/home" class="active">All Events</a></li>
			</ol>
			<center>
				<div class="filter-options btn-group">
					<center><button <%= "data-group='all'" %> class="btn btn-custom filter_btn">All</button>
						<% @event_categories.each do |event_category| %>
						<button <%= "data-group='#{event_category.id}'" %> class="btn btn-custom filter_btn"><%= event_category.title %></button>
						<% end %>
						<button <%= "data-group='flagship'" %> class="btn btn-custom filter_btn">Flagship</button>
					</center>
				</div>
			</center>
			<br/>
			<div class="row-fluid text-right">
				<input type="text" placeholder="Search..." class="filter__search js-shuffle-search form-control">
			</div>
			<br/>
			<div id="grid" class="shuffle--images row-fluid images-loaded shuffle">
				<% @events.each do |event| %>
				<% if event %>
				<div class="item col-md-3 col-xs-12 col-sm-6" <%= "data-title='#{event.title}'" %> <%= event.flagship ? "data-groups='[\"all\",\"flagship\",\"#{event.event_category_id}\"]'" : "data-groups='[\"all\",\"#{event.event_category_id}\"]'"%>>
					<a <%= "href='/myevents/information/#{event.id}'" %>><img class="pic-title" <%= "title='#{event.title}'" %> src="/assets/img/01-screenshot.jpg" style="max-width:100%;max-height:100%;" /></a>
				</div>
				<% end %>
				<% end %>
			</div>

		</div>
		<div class="col-md-3 col-sm-3 col-xs-3 hidden-xs hidden-sm">
			<div class="panel panel-default">
				<div class="panel-heading red-heading">
					What's Happening !
				</div>
				<div class="panel-body">
					<ul>
						<li>first bulletin point</li>
						<li>second bulleting point</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
	$(document).ready(function() {
		var $grid = $('#grid');
		$("#grid").shuffle('sort');
	});
</script>