<div style="border-style: solid;border-width: 2px;padding: 10px 10px 10px 10px">
<%= image_tag attachments['header.png'].url -%> 
<br/><br/>
Dear <%= @user.full_name %>,<br/><br/>

Greetings from the Forum for Industrial Interaction (FII), the team organizing Vista’15, IIM Bangalore<br/><br/>

This is an event registration confirmation email.

<p>Event : <b><%= @event_title %></b></p>
<p>Team Name : <b><%= @team_name %></b></p>

All the Best !!!<br/><br/>
 
Regards<br/>
Team Vista’15<br/>
Forum for Industrial Interaction<br/>
Ph: +91-9686508699/+91-9916574658<br/><br/>
<%= image_tag attachments['footer.png'].url %><br/>

</div>
<div style="border-style: solid;border-width: 2px;background-color:blue;color:white;text-align:center;border-color:black;">To stay updated, please visit and Like : https://www.facebook.com/iimbvista</div>
<div style="border-style: solid;border-width: 2px;text-align:center;border-color:black;">© Copyright 2015 Vista - Forum for Industrial Interaction, IIM Bangalore. All rights reserved.
</div>