<table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse" class="x_MsoNormalTable">
<tbody>
<tr style="height:37.75pt">
<td width="366" valign="top" style="width:274.5pt; border-top:solid windowtext 1.0pt; border-left:solid windowtext 1.0pt; border-bottom:none; border-right:none; padding:0in 5.4pt 0in 5.4pt; height:37.75pt">
<p class="x_MsoNormal"><%= image_tag attachments['iimb_mailer.jpg'].url, :width=>"292", :height=>"56", :style=>"display: inline;" %><span style="color:#1F497D"></span></p>
</td>
<td width="345" valign="top" style="width:258.45pt; border-top:solid windowtext 1.0pt; border-left:none; border-bottom:none; border-right:solid windowtext 1.0pt; padding:0in 0in 0in 0in; height:37.75pt">
<p align="right" style="text-align:right" class="x_MsoNormal"><span style="color:#1F497D"><%= image_tag attachments['fii_mailer.jpg'].url, :width=>"275", :height=>"43", :style=>"display: inline;" %></span></p>
</td>
</tr>
<tr style="height:154.85pt">
<td width="711" valign="top" style="width:532.95pt; border-top:none; border-left:solid windowtext 1.0pt; border-bottom:none; border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt; height:154.85pt" colspan="2">
<p class="x_MsoNormal"><img width="688" height="306" alt="Image" id="x__x0000_i1027" src="https://pro-bee-user-content-eu-west-1.s3.amazonaws.com/public/users/BeeFree/3a46188c-c4d0-4e3c-ac73-7b7c93f6ff99/Colloq_Logo_Mailer.png"></p>
</td>
</tr>
<tr style="height:69.3pt">
<td width="711" valign="top" style="width:532.95pt; border-top:none; border-left:solid windowtext 1.0pt; border-bottom:none; border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt; height:69.3pt" colspan="2">
<p style="text-align:justify"><span style="color:#1F497D">&nbsp;</span></p>
<p style="text-align:justify">Forum for Industrial Interaction, the business club of IIMB is happy to invite you to “<b>Colloquium Unleashed’16</b>” &ndash; a speaker series where you can hear from successful individuals who pursued unconventional careers.<span style="color:#1F497D"> </span>The event is on 21st February, 2016.</p>
<p style="text-align:justify"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p align="center" style="text-align:center"><span style="color:black">Visit </span><span style="color:#1F4E79"><a target="_blank" href="http://imojo.in/4efwde"><span style="color:#1F4E79">http://imojo.in/4efwde</span></a></span><span style="color:#0070C0">&nbsp;</span><span style="color:black">to&nbsp;register and get your passes.. <b>Now!!</b></span><b></b></p>
<p align="center" style="text-align:center"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></b></p>
<p style="text-align:justify"><b><span style="font-size:11.0pt; font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;">Participants will get E-certificates and Tee shirts.</span></b><span style="font-size:11.0pt; font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;"> The registration fees is Rs.500.</span></p>
<p align="center" style="text-align:center"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></b></p>
<p style="text-align:justify"><span style="font-size:11.0pt; font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;">The speakers are :</span><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D"> </span></p>
</td>
</tr>
<tr style="height:143.5pt">
<td width="711" valign="top" style="width:532.95pt; border-top:none; border-left:solid windowtext 1.0pt; border-bottom:none; border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt; height:143.5pt" colspan="2">
<p align="center" style="text-align:center"><%= image_tag attachments['speaker1.jpg'].url, :width=>"188", :height=>"180", :border=>"0", :style=>"display: inline;" %></p><span style="font-size:11.0pt">&nbsp;</span></p>
<p align="center" style="text-align:center"><span style="font-size:11.0pt">Principal Secretary, Backward Classes Welfare </span><span style="font-size:10.0pt">Dept</span></p>
<p align="center" style="text-align:center"><span style="font-size:11.0pt; color:#0070C0">Listen to how a single person can drive change and bring transparency to the murky side of bureaucracy</span></p>
</td>
</tr>
<tr style="height:128.65pt">
<td width="711" valign="top" style="width:532.95pt; border-top:none; border-left:solid windowtext 1.0pt; border-bottom:none; border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt; height:128.65pt" colspan="2">
<p align="center" style="text-align:center" class="x_MsoNormal"><%= image_tag attachments['speaker2.jpg'].url, :width=>"195", :height=>"186", :border=>"0", :style=>"display: inline;" %></p>
<p align="center" style="text-align:center"><span style="font-size:11.0pt">General Director, Doctors Without Borders</span></p>
<p align="center" style="text-align:center" class="x_MsoNormal"><span style="color:#0070C0">Get to know what motivates a man to traverse the world and help victims of war and natural disasters</span><span style="color:#1F497D"></span></p>
</td>
</tr>
<tr style="height:141.25pt">
<td width="711" valign="top" style="width:532.95pt; border-top:none; border-left:solid windowtext 1.0pt; border-bottom:none; border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt; height:141.25pt" colspan="2">
<p align="center" style="text-align:center" class="x_MsoNormal"><%= image_tag attachments['speaker3.jpg'].url, :width=>"209", :height=>"194", :border=>"0", :style=>"display: inline;" %></p>
<p align="center" style="text-align:center">Cartoonist, The Hindu</p>
<p align="center" style="text-align:center"><span style="font-size:11.0pt; color:#0070C0">Hear him speak out his mind as he talks about the balance between literary freedom and political retribution and the associated risk</span></p>
</td>
</tr>
<tr style="height:97.85pt">
<td width="711" valign="top" style="width:532.95pt; border-top:none; border-left:solid windowtext 1.0pt; border-bottom:none; border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt; height:97.85pt" colspan="2">
<p align="center" style="text-align:center" class="x_MsoNormal"><%= image_tag attachments['speaker4.jpg'].url, :width=>"227", :height=>"189", :border=>"0", :style=>"display: inline;" %></p>
<p align="center" style="text-align:center">Lawyer, Centre on the Death Penalty</p>
<p align="center" style="text-align:center" class="x_MsoNormal"><span style="color:#0070C0">The death penalty is meted out to the rarest of rarest cases in india. But is it a fair process? Listen to the death penalty litigator and know the flipside.</span><span style="color:#1F497D"></span></p>
</td>
</tr>
<tr style="height:171.4pt">
<td width="711" valign="top" style="width:532.95pt; border-top:none; border-left:solid windowtext 1.0pt; border-bottom:none; border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt; height:171.4pt" colspan="2">
<p align="center" style="text-align:center" class="x_MsoNormal"><%= image_tag attachments['speaker5.jpg'].url, :width=>"229", :height=>"209", :border=>"0", :style=>"display: inline;" %></p>
<p align="center" style="text-align:center">CEO, B7 Sports Management</p>
<p align="center" style="text-align:center"><span style="font-size:11.0pt; color:#0070C0">It takes grit and determination to make it big for an Indian women in the world of sports. Get to know how India can be transformed to encourage sportswomen.</span><span style="font-size:11.0pt"></span></p>
</td>
</tr>
<tr style="height:25.6pt">
<td width="711" valign="top" style="width:532.95pt; border-top:none; border-left:solid windowtext 1.0pt; border-bottom:none; border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt; height:25.6pt" colspan="2">
<p align="center" style="text-align:center"><b><span style="font-size:16.0pt; font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;; color:#C00000">Hurry! Limited Seats are available!</span></b></p>
</td>
</tr>
<tr style="height:49.0pt">
<td width="711" valign="top" style="width:532.95pt; border:solid windowtext 1.0pt; border-top:none; background:#C00000; padding:0in 5.4pt 0in 5.4pt; height:49.0pt" colspan="2">
<p align="center" style="text-align:center"><span style="font-size:11.0pt; font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;; color:white">Comments or Questions?</span><span style="font-size:11.0pt; font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;; color:#1F497D"></span></p>
<p align="center" style="text-align:center"><span style="font-size:11.0pt; font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;; color:white">Contact Mithun : +91-9790449678 or Sashank : +91-8-97772042</span></p>
<p align="center" style="text-align:center"><span style="font-size:11.0pt; font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;; color:white">Email to us at </span><span style="font-size:11.0pt; color:white"><a target="_blank" href="mailto:colloquium@iimb.ernet.in">colloquium@iimb.ernet.in</a></span><span style="font-size:10.0pt; font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;; color:#C00000"></span></p>
</td>
</tr>
</tbody>
</table>	