<% if user_signed_in? %>
<div class="well">
	<% if @cart && @cart.items %>
		<strong>My Cart ( Rs.<%= @cart.items.empty? ? "0.00" : @cart.items.collect(&:price).inject(:+).round(2) %> )</strong><br/></br/><br/>
		<% @cart.items.group_by(&:id).each do |k,v| %>
		 <div class="pull-left">
		 <%= v.first.product.name %> - <%= v.first.item_desc %><br/>
		 <%= link_to_function "Remove","removeFromCart(#{v.first.id},#{current_user.id})" %>
		 </div>
		 <div class="pull-right">
		 <%= v.collect(&:price).inject(:+).round(2) %>
		 </div>
		 <br/>
		 <br/>
		 <br/>
		<% end %>
		<br/><br/>
		<strong>Offer: <div class="pull-right"><%= @cart.offer_amount %></div></strong>
		<br/><br/><br/>
		<strong>
		<% final_amount = ((@cart.items.empty? ? "0.00".to_f : @cart.items.collect(&:price).inject(:+).round(2))-@cart.offer_amount) %>
		Total : <div class="pull-right"><%= final_amount>0 ? final_amount : 0 %></div>
		</strong>
		<% if @cart.items.present? %><a href="/shop_at_vista/checkout" class="btn btn-success btn-large"><i class="icon-white icon-heart"></i> Checkout with Instamojo</a><% end %>
		
	<% else %>
		<strong>My Cart ( Rs. 0.00 )</strong><br/></br/><br/>
	<% end %>
	<br/>
	<br/>
</div>
<script type="text/javascript">
function removeFromCart(item_id, cid) {
$.ajax({
  type: "GET",
  url: "/shop_at_vista/remove_from_cart",
  data: {
  	id: item_id,
  	cid: cid
  },
  success: function(data){
  	alert(data);
  	location.reload();
  }
});
}
</script>
<% end %>