<div class="well">
	<div class="panel-heading"><h1>Shop @ Vista '15</h1></div>
	<div class="row">
		<div class="col-md-12">
			<%= image_tag "#{@product.avatar.url}" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<h2><%= @product.name %></h2>
			<p><%= @product.description.html_safe %></p>
			<table border=2 style="text-align:center;">
				<tr>
					<th style="text-align:center;" width="40%">Description</th>
					<th style="text-align:center;" width="40%">Price</th>
					<th style="text-align:center;" width="20%">
				</tr>
				<% @items.each do |item| %>
				<tr>
					<td><%= item.item_desc %></td>
					<td><%= item.price %></td>
					<td><%= link_to_function "Add To Cart","addToCart(#{item.id}, #{current_user.id});" %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript">
function addToCart(item_id, cid) {
$.ajax({
  type: "GET",
  url: "/shop_at_vista/add_to_cart",
  data: {
  	id: item_id,
  	cid: cid
  },
  success: function(data){
  	alert(data);
  	location.reload();
  }
});
}
</script>