<!DOCTYPE html>
<html>
<head>
  <title>VISTA '15 - Administrator Page</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="col-md-12 text-right">
<%= link_to "Go to Dashboard", dashboard_index_path, class: "btn btn-warning" %>
</div>
<%= yield %>
<script type="text/javascript">
tinymce.init({
    selector: "textarea",
    plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste"
    ],
    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
});
</script>
</body>
</html>
